# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# env
/front-end/.env
/back-end/.env

# build
/back-end/dist

# dependencies
/back-end/node_modules
/front-end/node_modules
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/front-end/.next/
/front-end/out/

# production
/front-end/build
/back-end/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for commiting if needed)
/backend/.env*
/front-end/.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
